Repository misty-step/vibe-machine: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

lint:
  run: pnpm eslint --fix {staged_files}

fix(ci): build WASM before type-check
  .github/workflows/ci.yml
Due: none

fix(ci): create dummy FFmpeg for Rust check
  .github/workflows/ci.yml
Due: none

fix(ci): resolve clippy errors and add strict pre-push hooks
  App.tsx
  lefthook.yml
  src-tauri/src/lib.rs
Due: format, lint

feat(site): Industrial Flux landing page
  site/index.html
Due: none

feat: add automated release workflow
  .github/workflows/release.yml
  site/index.html
Due: none

style: format YAML and HTML files
  .github/workflows/release.yml
  site/index.html
Due: none

feat: fully automate releases
  .github/workflows/release.yml
  site/index.html
Due: none

feat(security): add Rust path validator for export
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/path_guard.rs
Due: none

refactor(export): extract export_video to dedicated module
  src-tauri/src/export_video.rs
  src-tauri/src/lib.rs
Due: none

feat(export): add ExportController with platform detection
  export/ExportController.ts
  platform/tauriEnv.ts
Due: format, lint

refactor(App): remove local export state, use controller
  App.tsx
Due: format, lint

chore: update backlog
  BACKLOG.md
Due: format

fix(ci): add contents:write permission for releases
  .github/workflows/release.yml
Due: none

feat(release): add automated changelogs with release-please
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  package.json
  release-please-config.json
Due: format

feat(release): host DMG on Vercel Blob for public downloads
  .github/workflows/release.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/upload-release.mjs
  site/index.html
Due: format

fix(ci): support manual workflow dispatch with tag input
  .github/workflows/release.yml
  CHANGELOG.md
Due: format

feat(site): add Homebrew install instructions
  CHANGELOG.md
  site/index.html
Due: format

feat(site): Homebrew-only install with copy button
  site/index.html
Due: none

fix(export): sync export overlay and workflow
  AGENTS.md
  App.tsx
  components/Sidebar.tsx
  components/VisualizerCore.ts
  engine/AudioSystem.ts
  export/ExportController.ts
  export/renderTextOverlay.ts
  hooks/useVibeEngine.ts
  platform/tauriEnv.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/export_frame.rs
  src-tauri/src/export_video.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  store/vibeStore.ts
  types.ts
  utils.ts
  utils/overlayText.ts
Due: format, lint

fix: address PR review feedback
  App.tsx
  src-tauri/src/export_frame.rs
  src-tauri/src/export_video.rs
Due: format, lint

fix(export): harden export pipeline safety
  export/ExportController.ts
  src-tauri/src/export_frame.rs
  src-tauri/src/export_video.rs
  src-tauri/src/path_guard.rs
  store/vibeStore.ts
Due: format, lint

docs: add ADRs, module READMEs, and state diagrams
  AGENTS.md
  CLAUDE.md
  README.md
  components/README.md
  crates/vibe-engine/README.md
  docs/STATE_FLOWS.md
  docs/adr/0000-template.md
  docs/adr/0001-shared-rust-renderer.md
  docs/adr/001-tauri-over-electron.md
  docs/adr/002-shared-rust-vibe-engine.md
  docs/adr/003-symphonia-audio-decode.md
  docs/adr/004-ffmpeg-sidecar-export.md
  docs/adr/005-path-guard-security.md
  docs/adr/006-zustand-store-architecture.md
  docs/adr/007-platform-abstraction-pattern.md
  docs/adr/008-export-controller-deep-module.md
  docs/adr/009-audio-system-singleton.md
  docs/adr/README.md
  engine/AudioSystem.ts
  engine/README.md
  export/README.md
  hooks/README.md
  platform/README.md
  src-tauri/README.md
  store/README.md
Due: format, lint

ci: auto-update Homebrew tap on release
  .github/workflows/release.yml
  scripts/update-homebrew-cask.sh
Due: none

chore: migrate backlog to gh issues
  BACKLOG.md
Due: format

fix(ci): unify release workflow to auto-build on version bump
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

fix: sync versions and fix blob upload script
  App.tsx
  CHANGELOG.md
  scripts/upload-release.mjs
  src-tauri/tauri.conf.json
Due: format, lint

fix(ci): sync tauri.conf.json version at build time
  .github/workflows/release.yml
  CHANGELOG.md
  release-please-config.json
Due: format

fix(ci): sync tauri.conf.json version at build time (#64)
  .github/workflows/release.yml
  CHANGELOG.md
  release-please-config.json
Due: format

feat: add post-merge auto-update hook for local dev
  CHANGELOG.md
  lefthook.yml
  scripts/auto-update-app.sh
  scripts/install-latest.sh
Due: format

fix: address PR review feedback for update scripts
  scripts/auto-update-app.sh
  scripts/install-latest.sh
Due: none

feat: add post-merge auto-update hook for local dev (#66)
  CHANGELOG.md
  lefthook.yml
  scripts/auto-update-app.sh
  scripts/install-latest.sh
Due: format

fix: remove unused @morphllm/morphmcp dependency (3 vulnerabilities)
  GEMINI.md
  package.json
  pnpm-lock.yaml
Due: format

fix: remove unused @morphllm/morphmcp dependency (3 vulnerabilities) (#68)
  GEMINI.md
  package.json
  pnpm-lock.yaml
Due: format

feat: support multi-track video export
  CHANGELOG.md
  components/Sidebar.tsx
  export/ExportController.ts
  src-tauri/Cargo.toml
  src-tauri/src/export_video.rs
  src-tauri/src/path_guard.rs
Due: format, lint

feat: support multi-track video export (#70)
  CHANGELOG.md
  components/Sidebar.tsx
  export/ExportController.ts
  src-tauri/Cargo.toml
  src-tauri/src/export_video.rs
  src-tauri/src/path_guard.rs
Due: format, lint

fix: display version from package.json instead of hardcoded value
  App.tsx
  CHANGELOG.md
  tsconfig.json
Due: format, lint

fix: match FFT gain with Web Audio + per-track overlays
  export/ExportController.ts
  src-tauri/src/export_frame.rs
  src-tauri/src/export_video.rs
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,js,json,css,md}
  lint: any of: *.{ts,tsx}
