Repository misty-step/vibe-machine: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,json,css,md}"
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: "*.{ts,tsx}"
      run: pnpm eslint --fix {staged_files}

pre-push:
  parallel: true
  commands:
    type-check:
      run: pnpm type-check
    lint:
      run: pnpm lint
    format-check:
      run: pnpm format:check
    test:
      run: pnpm test:run
    rust-check:
      run: cargo check --manifest-path=src-tauri/Cargo.toml
    rust-clippy:
      run: cargo clippy --manifest-path=src-tauri/Cargo.toml -- -D warnings
    vibe-engine-clippy:
      run: cargo clippy --manifest-path=crates/vibe-engine/Cargo.toml -- -D warnings

post-merge:
  commands:
    auto-update:
      run: ./scripts/auto-update-app.sh & # Runs in background, only for release merges

ci: normalize required merge gate
  .github/workflows/ci.yml
Due: none

chore: remove Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

chore(release): adopt Landmark
  .github/workflows/release.yml
  .landfall.yml
Due: none

chore: point release workflow at Landmark repo
  .github/workflows/release.yml
Due: none

feat(site): integrate Vibe Machine with Canary
  .github/workflows/ci.yml
  crates/vibe-engine/src/lib.rs
  package.json
  pnpm-lock.yaml
  site/api/canary-config.js
  site/api/health.js
  site/canary-observer.js
  site/index.html
  site/package.json
  site/vercel.json
  src-tauri/src/export_video.rs
  tests/site-canary.test.ts
Due: format, lint

fix(site): preserve parity on DigitalOcean
  site/favicon.svg
  site/index.html
  site/package.json
  site/server.js
  tests/site-parity.test.ts
Due: format, lint

fix(site): harden static service boundary
  site/server.js
  tests/site-parity.test.ts
Due: format, lint

fix(site): preserve parity on DigitalOcean (#161)
  site/favicon.svg
  site/index.html
  site/package.json
  site/server.js
  tests/site-parity.test.ts
Due: format, lint

fix(site): health-check the active Canary reporter
  site/api/health.js
  tests/site-canary.test.ts
Due: format, lint

fix(site): align Canary health with safe config
  site/api/health.js
  tests/site-canary.test.ts
Due: format, lint

fix(site): health-check the active Canary reporter (#162)
  site/api/health.js
  tests/site-canary.test.ts
Due: format, lint

chore(release): retire Vercel Blob distribution
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/update-homebrew-cask.sh
  scripts/upload-release.mjs
  tests/release-distribution.test.ts
Due: format, lint

chore(release): retire Vercel Blob distribution (#163)
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/update-homebrew-cask.sh
  scripts/upload-release.mjs
  tests/release-distribution.test.ts
Due: format, lint

fix(site): cut Canary fallback over to DigitalOcean
  site/api/canary-config.js
  tests/site-canary.test.ts
Due: format, lint

fix(site): cut Canary fallback over to DigitalOcean (#164)
  site/api/canary-config.js
  tests/site-canary.test.ts
Due: format, lint

chore(site): retire Vercel deployment config
  site/vercel.json
  tests/provider-retirement.test.ts
Due: format, lint

test(site): guard root provider state
  tests/provider-retirement.test.ts
Due: format, lint

chore(site): retire Vercel deployment config (#165)
  site/vercel.json
  tests/provider-retirement.test.ts
Due: format, lint

Allow explicit site bind address
  site/server.js
Due: format

Allow explicit site bind address (#166)
  site/server.js
Due: format

chore(site): add Cloudflare Workers deployment for the landing site
  .gitignore
  site/.assetsignore
  site/worker.js
  site/wrangler.jsonc
  tests/site-workers.test.ts
Due: format, lint

chore(site): add Cloudflare Workers deployment for the landing site (#187)
  .gitignore
  site/.assetsignore
  site/worker.js
  site/wrangler.jsonc
  tests/site-workers.test.ts
Due: format, lint

chore(site): attach vibe-machine.mistystep.io production custom domain
  site/index.html
  site/wrangler.jsonc
  tests/site-parity.test.ts
Due: format, lint

chore(site): attach vibe-machine.mistystep.io production custom domain (#188)
  site/index.html
  site/wrangler.jsonc
  tests/site-parity.test.ts
Due: format, lint

feat(site): native, injectable Sentry monitoring; retire the legacy observer
  site/.assetsignore
  site/api/canary-config.js
  site/api/health.js
  site/api/sentry-config.js
  site/canary-observer.js
  site/index.html
  site/sentry.js
  site/server.js
  site/worker.js
  site/wrangler.jsonc
  tests/site-canary.test.ts
  tests/site-parity.test.ts
  tests/site-sentry.test.ts
  tests/site-workers.test.ts
Due: format, lint

feat(site): native, injectable Sentry monitoring; retire the legacy observer (#189)
  site/.assetsignore
  site/api/canary-config.js
  site/api/health.js
  site/api/sentry-config.js
  site/canary-observer.js
  site/index.html
  site/sentry.js
  site/server.js
  site/worker.js
  site/wrangler.jsonc
  tests/site-canary.test.ts
  tests/site-parity.test.ts
  tests/site-sentry.test.ts
  tests/site-workers.test.ts
Due: format, lint
