Repository misty-step/vibe-machine: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

lint:
  run: pnpm eslint --fix {staged_files}

fix: preserve overlay index alignment for empty tracks
  CHANGELOG.md
  src-tauri/src/export_frame.rs
Due: format

fix: match FFT gain with Web Audio + per-track overlays (#74)
  CHANGELOG.md
  export/ExportController.ts
  src-tauri/src/export_frame.rs
  src-tauri/src/export_video.rs
Due: format, lint

fix: migrate test files to proper Vitest setup (#47)
  engine/AudioSystem.test.ts
  tests/AudioSystem.test.ts
  tests/utils.test.ts
  utils.test.ts
Due: format, lint

fix: migrate test files to proper Vitest setup (#47) (#73)
  engine/AudioSystem.test.ts
  tests/AudioSystem.test.ts
  tests/utils.test.ts
  utils.test.ts
Due: format, lint

fix: revoke Object URL on track change to prevent memory leak (#35)
  engine/AudioSystem.ts
Due: format, lint

refactor: extract revokeBlobUrl helper (#35)
  engine/AudioSystem.ts
Due: format, lint

chore: ignore CHANGELOG.md in prettier checks (#35)
  .prettierignore
Due: none

fix: address PR review feedback (#35)
  engine/AudioSystem.ts
Due: format, lint

Fix Object URL memory leak in AudioSystem (#77)
  .prettierignore
  engine/AudioSystem.ts
Due: format, lint

feat(store): add playlist reorder action and tests
  hooks/useVibeEngine.ts
  store/vibeStore.ts
  tests/vibeStore.test.ts
Due: format, lint

feat(ui): add drag-to-reorder playlist tracks
  App.tsx
  components/Sidebar.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor(ui): harden drag reorder and remove anys
  components/Sidebar.tsx
Due: format, lint

chore(app): rename bundle to Vibe Machine
  src-tauri/Cargo.toml
Due: none

chore(mac): set bundle display name
  src-tauri/tauri.conf.json
Due: format

chore(rust): refresh tauri lockfile
  src-tauri/Cargo.lock
Due: none

feat(ui): drag-to-reorder playlist tracks (#78)
  App.tsx
  components/Sidebar.tsx
  hooks/useVibeEngine.ts
  package.json
  pnpm-lock.yaml
  store/vibeStore.ts
  tests/vibeStore.test.ts
Due: format, lint

chore(ci): add dependabot config
  .github/dependabot.yml
Due: none

chore(ci): align dependabot limits
  .github/dependabot.yml
Due: none

chore(ci): add dependabot config (#81)
  .github/dependabot.yml
Due: none

chore(ui): clarify sidebar labels
  components/Sidebar.tsx
Due: format, lint

chore(ui): align sidebar copy
  components/Sidebar.tsx
Due: format, lint

chore(ui): clarify sidebar labels (#101)
  components/Sidebar.tsx
Due: format, lint

chore: remove unused @vercel/blob dependency
  package.json
Due: format

fix: update lockfile after removing @vercel/blob
  pnpm-lock.yaml
Due: none

ci: integrate Cerberus AI code review council
  .github/workflows/cerberus.yml
Due: none

ci: add trufflehog workflow
  .github/workflows/trufflehog.yml
Due: none

ci: normalize required merge gate
  .github/workflows/ci.yml
Due: none

Path conditions:
  format: any of: *.{ts,tsx,js,json,css,md}
  lint: any of: *.{ts,tsx}
